@import url(coman.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: 0.5px;
}

/* navbar */
.navbar {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.brand-logo,
.brand-logo img {
  width: 100px;
  height: 100px;
  display: flex;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  text-align: center;

}

.nav-links ul {
  display: flex;
  gap: 20px;
}

.dropdown-list {
  width: 100%;
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  padding-top: 45px;
}

.product-list:hover .dropdown-list {
  display: block;
}

.dropdown-content {
  width: 100%;
  height: 45%;
  display: flex;
  box-shadow: 0px 5px 15px #e1e1e124;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: var(--black);
}

.dropdown-content ul {
  flex-direction: column;
  text-align: left;
  gap: 12px;
}

.dropdown-content ul li:first-child {
  padding-bottom: 20px;
  color: var(--white);
  border-bottom: 3px solid var(--border-color);
}

.nav-searchbar {
  display: flex;
  position: relative;
}

.nav-searchbar input {
  width: 200px;
  padding: 10px;
  color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  outline: none;
  background-color: var(--black);
}

.nav-searchbar button,
.nav-searchbar button svg {
  background: var(--black);
  border: none;
}

.nav-searchbar button {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}

@media(max-width:1024px) {
  .navbar {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 250px;
    left: 0;
    top: 101px;
    padding-block: 3rem;
    box-shadow: 8px 10px 15px #e1e1e124;
    background-color: var(--black);
  }

  .nav-links.active {
    display: flex;
  }


  .nav-links ul {
    flex-direction: column;
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .dropdown-content {
    height: 85vh;
    flex-direction: column;
    padding-right: 0;
    position: absolute;
    top: -45px;
    left: 0;
    overflow-y: auto;
  }

  .dropdown-list {
    padding-top: 0;
  }

  .dropdown-content ul li:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media(max-width:576px) {
  .nav-links {
    padding-block: 2.5rem;
    width: 228px;
  }
}

@media(max-width:425px) {
  .nav-links {
    top: 81.9px;
    padding-block: 2rem;
  }
}

/* hero-section */
.hero-section {
  width: 100%;
  height: 85vh;
  background-image: url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* product-section */
.product-media-container {
  width: 100%;
  background-color: var(--grey);
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  padding-top: 35px;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;

}

.product-img,
.product-img img {
  width: 100%;
  height: 270px;
  border-radius: 16px;
  background-color: var(--white);
  object-fit: contain;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  flex-grow: 1;
  justify-content: space-between;
}

.product-price {
  color: var(--white);
  position: relative
}

.price-symbol {
  position: absolute;
  font-size: 13px;
  top: 5px;
}

.price-whole {
  font-size: 28px;
  padding-left: 10px;
}

.product-btn-box {
  margin-top: auto;
}

.product-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 22px;
  border-radius: 26px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

/* footer */
.footer-container {
  width: 100%;
  background-color: #464855;
}

.footer {
  width: 100%;
  background-color: #464855;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media(max-width:425px) {

  .brand-logo,
  .brand-logo img {
    width: 62px;
    height: 80px;
  }

  .nav-searchbar input {
    width: 173px;
  }

  .product-card {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    gap: 10px;
  }
}

/* ******************************************************************* */
/* PRODUCT DETAIL PAGE  */
.pdp-section {
  width: 100%;
  background-color: #464855;
}

.pdp-conteint {
  width: 100%;
  display: flex;
  gap: 25px;
  padding-top: 20px;
}

.pdp-splider {
  width: 50%;
  height: 100%;
  background-color: var(--white);
}

.splide__slide {
  display: flex;
  justify-content: center;
  color: var(--white);
  object-fit: contain;
}


.splide__progress__bar {
  height: 3px;
  background: #ccc;
}

.thumbnails {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  overflow: auto;
  background-color: #464855;
}

.thumbnail {
  width: 90px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
  object-fit: contain;
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail {
  opacity: 0.3;
}

.thumbnail.is-active {
  opacity: 1;
}

.product-detail {
  width: 50%;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pdp-price-box {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pdp-price {
  display: flex;
  align-items: center;
  gap: 15px;
}

.pdp-price :nth-child(1) {
  font-size: 24px;
  color: #ff5500;
}

.pdp-price :nth-child(2) {
  font-size: 16px;
  text-decoration: line-through;
}

.pdp-price-box>span {
  font-size: 14px;
  color: rgba(164, 172, 181);
}

.product-color {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.quantity-container {
  width: 120px;
  height: 40px;
  display: flex;
  border: 1px solid var(--border-color);
  position: relative;
  justify-content: center;
  align-items: center;
}

.quantity-pluse-btn,
.quantity-minus-btn {
  display: flex;
  background-color: transparent;
  border: none;
  color: var(--white);
  position: absolute;
  cursor: pointer;
}

.quantity-minus-btn {
  left: 0;
  padding-left: 15px;
  text-align: left;
}

.quantity-pluse-btn {
  right: 0;
  text-align: right;
  padding-right: 15px;
}

.quantity-container input {
  width: 35px;
  height: 38px;
  display: flex;
  text-align: end;
  font-size: 16px;
  background-color: transparent;
  color: var(--white);
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.pdp-button {
  display: flex;
  gap: 30px;
}

.pdp-primary-btn:hover {
  background-color: transparent;
  color: var(--white);
}

@media(max-width:1279px) {
  .splide__slide img {
    width: 66%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .thumbnail {
    width: 66px;
  }
}

@media(max-width:1024px) {
  .pdp-conteint {
    flex-direction: column;
  }

  .pdp-splider {
    margin: auto;
  }

  .product-detail {
    width: 100%;

  }
}

@media(max-width:768px) {
  .pdp-splider {
    margin: 0;
  }

  .pdp-splider {
    width: 100%;
  }
}

@media(max-width:425px) {
  .thumbnail {
    width: 40px;
  }

  .pdp-button {
    gap: 15px;
  }

  .btn {
    font-size: 14px;
    padding: 12px 20px;
  }

  .product-detail h2 {
    font-size: 30px;
  }
}

/* ******************************************************************** */
/* CART PAGE */
.cart-table {
  width: 100%;
  margin-top: 5rem;
  color: var(--white);
}

.cart-tbl-heading-row {
  width: 100%;
  font-size: 32px;
}

.cart-tbl-heading-row th {
  text-align: left;
}

.cart-tbl-heading-row :nth-child(1) {
  width: 17%;
  text-align: center;
}

.cart-tbl-heading-row :nth-child(2) {
  width: 50%;
}

.cart-tbl-heading-row :nth-child(3) {
  width: 16%;
}

.cart-tbl-heading-row :nth-child(4) {
  width: 17%;
}

.product-detail-row {
  background-color: transparent;
}

.cart-product-detail {
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-color);
}

.cart-product-img {
  width: 135px;
  height: 190px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.cart-product-img img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.cart-product-item-name span {
  color: #a0a2b4;
  font-size: 18px;
}

.cart-product-item-name p {
  font-size: 24px;
}

.cart-product-total,
.cart-product-price {
  display: flex;
}

.cart-product-total :nth-child(1),
.cart-product-price :nth-child(1) {
  font-size: 12px;
}

.cart-product-total :nth-child(2),
.cart-product-price :nth-child(2) {
  font-size: 26px;
}

.cart-product-remove-btn button {
  background-color: transparent;
  border: none;
}

.product-totals-section {
  width: 100%;
}

.product-totals {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--white);
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pdt-amount {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 10px;
}

.prouct-subtotal,
.product-tax,
.product-grand-total {
  display: flex;
}

.prouct-subtotal>div,
.product-grand-total>div {
  display: flex;
  gap: 3px;
}

.prouct-subtotal>div :nth-child(1),
.product-grand-total>div :nth-child(1) {
  font-size: 12px;

}

.prouct-subtotal>div :nth-child(2),
.product-grand-total>div :nth-child(2) {
  font-size: 22px;
}

.prouct-subtotal,
.product-tax,
.product-grand-total {
  justify-content: space-between;
}

.product-grand-total {
  border-top: 1px solid var(--border-color);
  padding-top: 5px;
}

.checkout-btn {
  padding-top: 25px;
}

.checkout-btn a button {
  width: 250px;
}

@media(max-width:1024px) {
  .pdt-amount {
    width: 24%;
  }
}

@media(max-width:992px) {
  .pdt-amount {
    width: 28%;
  }
}

@media(max-width:768px) {
  .pdt-amount {
    width: 38%;
  }
}

@media(max-width:576px) {
  .pdt-amount {
    width: 48%;
  }

  .product-tax p {
    font-size: 16px;
  }

  /* ********** */
  .cart-tbl-heading-row {
    font-size: 20px;
  }

  .cart-product-detail {
    padding-top: 12px;
  }

  .cart-product-img {
    width: 77px;
    height: 92px;
  }

  .cart-product-img img {
    height: 75px;
  }

  .cart-product-item-name span {
    font-size: 12px;
  }

  .cart-product-item-name p {
    font-size: 12px;
  }

  .cart-product-total :nth-child(1),
  .cart-product-price :nth-child(1) {
    font-size: 9px;
  }

  .cart-product-total :nth-child(2),
  .cart-product-price :nth-child(2) {
    font-size: 18px;
  }

  .cart-product-remove-btn button svg {
    width: 25px;
    height: 25px;
  }
}

@media(max-width:425px) {
  .pdt-amount {
    width: 54%;
  }
}

/* ****************************************************************** */
/* Checkout section */

.checkout-containt {
  width: 100%;
  display: flex;
  padding-top: 30px;
  color: var(--white);
  align-items: start;
}

.checkout-input-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-filds {
  display: flex;
  justify-content: space-between;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.coman-input-box {
  width: 100%;
  padding: 12px 20px;
  border-radius: 6px;
}

.checkout-palce-btn {
  width: 250px;
  margin-bottom: 30px;
}

.checkout-right-section {
  width: 60%;
  padding-left: 30px;
  position: sticky;
  top: 0;
}

.checkout-list-table {
  width: 100%;
  padding-left: 20px;
}

.checkout-order-list-content {
  width: 115px;
  height: 130px;
  margin: auto;
  object-fit: contain;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid var(--border-color);
}

.checkout-order-list-content-image {
  width: 90px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.checkout-order-list-content-image img {
  width: 100%;
}

.checkout-order-list-content-detail {
  width: 73%;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid var(--border-color);
}


.checkout-order-list-content-detail>div span {
  font-size: 12px;
}

.checkout-order-list-content-price {
  width: 10%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid var(--border-color);
}

.checkout-list-total-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 20px;
}

.checkout-order-list-totals-box {
  width: 50%;
}

.checkout-order-list-totals {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkout-list-total {
  display: flex;
  justify-content: space-between;
}

.checkout-list-totals-shipping {
  padding-bottom: 20px;
}

.checkout-list-totals-order-total {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
}

.payment-method-section {
  color: var(--white);
  margin-top: 30px;
}

.payment-sector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.payment-sector div input {
  cursor: pointer;
}

.online-payment-section {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 20px;
}

.pay-with-app {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 20px;
  gap: 8px;
}

.pay-with-card {
  padding-top: 20px;
}

.card-fill-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 12px;
  padding-left: 20px;
}

.card-mm-code-boxs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.mm-code-box {
  margin-top: 5px;
}

@media(max-width: 1078px) {
  .checkout-right-section {
    width: 50%;
  }

  .checkout-input-section {
    width: 50%;
  }

  .checkout-order-list-content-detail {
    padding-left: 10px;
  }
}

@media(max-width: 1024px) {
  .checkout-right-section {
    display: none;
  }

  .checkout-containt {
    justify-content: center;
  }

  .checkout-input-section {
    width: 60%;
  }
}

@media(max-width: 768px) {
  .name-filds {
    flex-direction: column;
  }
}

@media(max-width: 576px) {
  .checkout-input-section {
    width: 100%;
  }
}

/* ******************************************************* */
/* Thankyou Page */

.order-successful-content-box {
  width: 100%;
}

.thakyou-image-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.thakyou-image-box img {
  width: 225px;
}

.thankyou-title {
  color: var(--white);
}

.thankyou-pera {
  color: var(--white);
  padding-top: 10px;
}